{% with {sectionClass: 'bluring-info-section'} %}
  <section class="{{ sectionClass }}">
    <img class="{{ sectionClass }}__bg" src="./assets/img/bluring-info/bg.jpg" alt="">
    <div class="{{ sectionClass }}__block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="{{ sectionClass }}__content">
              <div class="{{ sectionClass }}__top">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6 col-lg-7">
                    <h2 class="{{ sectionClass }}__title">
                      The World’s Only ATEX Certified Ergonomic Safety Wearables
                    </h2>
                  </div>
                  <div class="col-12 col-md-6 col-lg-5">
                    <p class="{{ sectionClass }}__subtitle">
                      Soter intrinsically safe device is certified for:
                    </p>
                  </div>
                </div>
              </div>
              <div class="{{ sectionClass }}__bottom">
                <div class="bluring-content">
                  <div class="bluring-content__content">
                    <div class="list-with-title">
                      <p class="list-with-title__title">NRTL (North America):</p>
                      <ul class="list-with-title__list">
                        <li class="list-with-title__item">Class 1, Division 1, Group A, B, C, D, T4</li>
                        <li class="list-with-title__item">Class 2, Division 1, Group E, F, G</li>
                        <li class="list-with-title__item">Zone 20, A/Ex ia IIC T135degC Da</li>
                        <li class="list-with-title__item">Class 1, Zone 0, A, EX ia IIC T4 Ga</li>
                      </ul>
                    </div>
                    <div class="list-with-title">
                      <p class="list-with-title__title">ATEX/UKEX/IECEX:</p>
                      <ul class="list-with-title__list">
                        <li class="list-with-title__item">Ex II 1GD</li>
                        <li class="list-with-title__item">Ex ia IIC T4 Ga</li>
                        <li class="list-with-title__item">Ex ia IIIC T135C Da</li>
                      </ul>
                    </div>
                  </div>

                  <div class="bluring-content__img">
                    <img src="./assets/img/bluring-info/img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endwith %}