<section class="articles">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="articles__block">
          <div class="articles__categories">
            <span>Category:</span>
            <div class="current-category" data-current="Select category"></div>
            <ul class="categories-list">
              {% for category in categories %}
                <li class="{{ loop.index == 1 ? 'current' }}">{{ category }}</li>
              {% endfor %}
            </ul>
            <hr>
          </div>
          <ul class="articles__list">
            {% for article in articleList %}
              <li><a href="#" class="article-card">
                  <div class="article-card__image">
                    <img src="./assets/img/articles/{{ article.image }}" alt="">
                    <span class="article-card__date">{{ article.time }}</span>
                  </div>
                  <div class="article-card__desc">
                    <div class="article-card__title">{{ article.title }}</div>
                    <p>{{ article.desc }}</p>
                    <div class="article-card__more"><b>Learn more</b> <img
                          src="./assets/img/cases/arrow.svg" alt=""></div>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="press__pagination">
          <div class="wp-pagenavi" role="navigation">
            <span aria-current="page" class="current">1</span>
            <a class="page larger" title="Page 2" href="https://soteranalytics.com/posts/page/2/">2</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>