{% with {sectionClass: 'big-accent-info-section'} %}
  <section class="{{ sectionClass }}">
    <div class="{{ sectionClass }}__block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="{{ sectionClass }}__content">
              <div class="{{ sectionClass }}__text">
                <h2 class="{{ sectionClass }}__title">
                  Scale Up Safety Culture & Engage Workers
                </h2>
                <div class="{{ sectionClass }}__desc">
                  <p>SoterCoach App personalized the safety of each worker, education them on how they move at work and
                    motivating through highly engaging game mechanics such as points, levels, and leaderboards with
                    frequent incentives to compete or progress.</p>
                  <p>Workers will be seen sharing, comparing and competing to become safer, individualizing their
                    well-being, talking ownership for their safety at work and most importantly have some fun while
                    doing so!</p>
                </div>
              </div>
              <div class="{{ sectionClass }}__images">
                <div class="{{ sectionClass }}__item">
                  <div class="{{ sectionClass }}__item-block">
                    <p class="{{ sectionClass }}__item-text">
                      3 choices of themes for the users
                    </p>
                    <div class="{{ sectionClass }}__item-image">
                      <img src="./assets/img/big-accent-info/1.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="{{ sectionClass }}__item">
                  <div class="{{ sectionClass }}__item-block">
                    <p class="{{ sectionClass }}__item-text">
                      A more personal & customised data set
                    </p>
                    <div class="{{ sectionClass }}__item-image">
                      <img src="./assets/img/big-accent-info/2.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="{{ sectionClass }}__item">
                  <div class="{{ sectionClass }}__item-block">
                    <p class="{{ sectionClass }}__item-text">
                      Narative-driven feedback
                    </p>
                    <div class="{{ sectionClass }}__item-image">
                      <img src="./assets/img/big-accent-info/3.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endwith %}