{% with {sectionClass: 'playbook-section'} %}
<section class="{{ sectionClass }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="{{ sectionClass }}__content">
          <h2 class="{{ sectionClass }}__title">
            The Safety Professional’s Data Playbook
          </h2>
          <div class="{{ sectionClass }}__text">
            <p>
              A guide to using your data effective to move up the Hierarchy of Controls and keep your workers injury free
            </p>
          </div>
          <div class="{{ sectionClass }}__controls">
            <button class="button button_white">Get your copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endwith %}