{% with {sectionClass: 'technology-section'} %}
  <section class="{{ sectionClass }}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="{{ sectionClass }}__block">
            <div class="row">
              <div class="col-12">
                <div class="{{ sectionClass }}__content">
                  <h2 class="{{ sectionClass }}__title">
                    Other Technology Available
                  </h2>
                  <ul class="{{ sectionClass }}__list">
                    <li class="{{ sectionClass }}__item">
                      <div class="{{ sectionClass }}__card technology-card">
                        <p class="technology-card__title">SoterTask</p>
                        <div class="technology-card__image">
                          <img src="./assets/img/technology/1.png" alt="">
                        </div>
                        <div class="technology-card__content">
                          <p>The data provides a visual representation of the high risk areas in the organization, or for an individual, giving the optimal starting point for reducing risks.</p>
                          <div class="technology-card__controls">
                            <a href="#" class="button button_white">Learn more</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="{{ sectionClass }}__item">
                      <div class="{{ sectionClass }}__card technology-card">
                        <p class="technology-card__title">Job Dictionary</p>
                        <div class="technology-card__image">
                          <img src="./assets/img/technology/2.png" alt="">
                        </div>
                        <div class="technology-card__content">
                          <p>The data provides a visual representation of the high risk areas in the organization, or for an individual, giving the optimal starting point for reducing risks.</p>
                          <div class="technology-card__controls">
                            <a href="#" class="button button_white">Learn more</a>
                          </div>
                        </div>

                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endwith %}